### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.gradle

local.properties
build/
dist/
src/main/resources/ui/
src/main/resources/ui/index.html
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat